openapi: 3.2.0
info:
  title: S&P Global Commodity Insights Reference Data API
  description: HTTP-based RESTful API providing access to energy and commodity market data through the S&P Global Commodity Insights (formerly Platts) platform. Covers market data, reference data, and historical prices for oil, gas, petrochemicals, power, shipping, metals, and agriculture. Supports JSON and XML response formats.
  version: 1.0.0
  contact:
    name: S&P Global Developer Portal
    url: https://developer.spglobal.com/
  termsOfService: https://www.spglobal.com/en/terms-of-use
servers:
- url: https://api.platts.com
  description: S&P Global Commodity Insights production API
- url: https://developer.platts.com
  description: S&P Global Commodity Insights developer portal API
tags:
- name: Reference Data
  description: Symbol and contract reference data
paths:
  /market-data/v1/symbols:
    get:
      operationId: listSymbols
      summary: List Market Data Symbols
      description: Returns reference data for available commodity symbols, including descriptions, commodity types, and units of measure.
      tags:
      - Reference Data
      security:
      - BearerAuth: []
      parameters:
      - name: commodityName
        in: query
        required: false
        description: Filter by commodity name (e.g., Crude Oil, Natural Gas)
        schema:
          type: string
          example: Crude Oil
      - name: assessmentFrequency
        in: query
        required: false
        description: Filter by assessment frequency
        schema:
          type: string
          enum:
          - Daily
          - Weekly
          - Monthly
      - name: pageSize
        in: query
        required: false
        description: Number of records per page (max 1000)
        schema:
          type: integer
          maximum: 1000
          default: 100
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Symbol reference data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsResponse'
components:
  schemas:
    SymbolsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SymbolReference'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
        pagination:
          $ref: '#/components/schemas/Pagination'
    SymbolReference:
      type: object
      properties:
        symbol:
          type: string
          description: Symbol code
          example: PCAAS00
        description:
          type: string
          description: Symbol description
          example: Crude Oil Dated Brent Daily
        commodityName:
          type: string
          description: Commodity type
          example: Crude Oil
        uom:
          type: string
          description: Unit of measure
          example: USD/BBL
        currency:
          type: string
          description: Currency code
          example: USD
        assessmentFrequency:
          type: string
          description: Frequency of assessment
          example: Daily
        activeTo:
          type: string
          format: date
          description: Date symbol becomes inactive (if applicable)
    ResponseMetadata:
      type: object
      properties:
        count:
          type: integer
          description: Number of records in response
        total:
          type: integer
          description: Total records available
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Records per page
        totalPages:
          type: integer
          description: Total number of pages
        totalCount:
          type: integer
          description: Total record count
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
