openapi: 3.0.3
info:
  title: S&P Global Commodity Insights API
  description: >-
    HTTP-based RESTful API providing access to energy and commodity market data
    through the S&P Global Commodity Insights (formerly Platts) platform.
    Covers market data, reference data, and historical prices for oil, gas,
    petrochemicals, power, shipping, metals, and agriculture. Supports JSON and
    XML response formats.
  version: 1.0.0
  contact:
    name: S&P Global Developer Portal
    url: https://developer.spglobal.com/
  termsOfService: https://www.spglobal.com/en/terms-of-use
servers:
  - url: https://api.platts.com
    description: S&P Global Commodity Insights production API
  - url: https://developer.platts.com
    description: S&P Global Commodity Insights developer portal API
tags:
  - name: Market Data
    description: Real-time and historical commodity market prices
  - name: Reference Data
    description: Symbol and contract reference data
  - name: Authentication
    description: Token-based authentication
paths:
  /auth/api:
    post:
      operationId: authenticate
      summary: Authenticate and Get Access Token
      description: >-
        Exchange API credentials for a Bearer access token. The token is valid
        for 3600 seconds (60 minutes). A refresh token valid for 7 days is also
        returned.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
  /market-data/v1/value/current:
    get:
      operationId: getCurrentMarketData
      summary: Get Current Market Data
      description: >-
        Returns the most recent assessment values for specified commodity
        symbols.
      tags:
        - Market Data
      security:
        - BearerAuth: []
      parameters:
        - name: symbol
          in: query
          required: true
          description: >-
            Comma-separated list of commodity symbol codes (e.g., PCAAS00,
            AAPTA00)
          schema:
            type: string
            example: PCAAS00,AAPTA00
        - name: format
          in: query
          required: false
          description: Response format
          schema:
            type: string
            enum:
              - json
              - xml
            default: json
      responses:
        '200':
          description: Current market data values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketDataResponse'
        '401':
          description: Unauthorized - invalid or expired token
  /market-data/v1/value/history:
    get:
      operationId: getHistoricalMarketData
      summary: Get Historical Market Data
      description: >-
        Returns historical assessment values for specified commodity symbols
        over a date range.
      tags:
        - Market Data
      security:
        - BearerAuth: []
      parameters:
        - name: symbol
          in: query
          required: true
          description: Comma-separated commodity symbol codes
          schema:
            type: string
            example: PCAAS00
        - name: startDate
          in: query
          required: true
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: true
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
            example: '2024-12-31'
        - name: format
          in: query
          required: false
          description: Response format
          schema:
            type: string
            enum:
              - json
              - xml
            default: json
        - name: pageSize
          in: query
          required: false
          description: Number of records per page (max 1000)
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Historical market data values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDataResponse'
  /market-data/v1/symbols:
    get:
      operationId: listSymbols
      summary: List Market Data Symbols
      description: >-
        Returns reference data for available commodity symbols, including
        descriptions, commodity types, and units of measure.
      tags:
        - Reference Data
      security:
        - BearerAuth: []
      parameters:
        - name: commodityName
          in: query
          required: false
          description: Filter by commodity name (e.g., Crude Oil, Natural Gas)
          schema:
            type: string
            example: Crude Oil
        - name: assessmentFrequency
          in: query
          required: false
          description: Filter by assessment frequency
          schema:
            type: string
            enum:
              - Daily
              - Weekly
              - Monthly
        - name: pageSize
          in: query
          required: false
          description: Number of records per page (max 1000)
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Symbol reference data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsResponse'
  /market-data/v1/modified-date:
    get:
      operationId: getModifiedSymbols
      summary: Get Modified Symbols Since Date
      description: >-
        Returns symbols whose values have been modified since a specified date.
        Useful for incremental data pulls.
      tags:
        - Market Data
      security:
        - BearerAuth: []
      parameters:
        - name: modifiedDate
          in: query
          required: true
          description: Return symbols modified after this date (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: '2024-06-01'
      responses:
        '200':
          description: List of modified symbols
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifiedSymbolsResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: S&P Global API username
          example: api_user@example.com
        password:
          type: string
          description: S&P Global API password
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Bearer token for API authentication (valid 3600 seconds)
        refresh_token:
          type: string
          description: Token for refreshing access (valid 7 days)
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token expiry in seconds
          example: 3600
    MarketDataResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MarketDataPoint'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
    MarketDataPoint:
      type: object
      properties:
        symbol:
          type: string
          description: Commodity symbol code
          example: PCAAS00
        assessDate:
          type: string
          format: date
          description: Assessment date
          example: '2024-12-01'
        value:
          type: number
          format: double
          description: Assessment value
          example: 72.45
        uom:
          type: string
          description: Unit of measure
          example: USD/BBL
        currency:
          type: string
          description: Currency code
          example: USD
        bate:
          type: string
          description: Buy/Ask/Trade/End-of-day indicator
          example: C
    HistoricalDataResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MarketDataPoint'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
        pagination:
          $ref: '#/components/schemas/Pagination'
    SymbolsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SymbolReference'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
        pagination:
          $ref: '#/components/schemas/Pagination'
    SymbolReference:
      type: object
      properties:
        symbol:
          type: string
          description: Symbol code
          example: PCAAS00
        description:
          type: string
          description: Symbol description
          example: Crude Oil Dated Brent Daily
        commodityName:
          type: string
          description: Commodity type
          example: Crude Oil
        uom:
          type: string
          description: Unit of measure
          example: USD/BBL
        currency:
          type: string
          description: Currency code
          example: USD
        assessmentFrequency:
          type: string
          description: Frequency of assessment
          example: Daily
        activeTo:
          type: string
          format: date
          description: Date symbol becomes inactive (if applicable)
    ModifiedSymbolsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: string
            description: Modified symbol code
        count:
          type: integer
          description: Total number of modified symbols
    ResponseMetadata:
      type: object
      properties:
        count:
          type: integer
          description: Number of records in response
        total:
          type: integer
          description: Total records available
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Records per page
        totalPages:
          type: integer
          description: Total number of pages
        totalCount:
          type: integer
          description: Total record count
